APP_NAME=AlvaSori
APP_LOGO="/icons/favicon-32x32.png"

# Firebase configuration
FIREBASE_CONFIG='{
  "apiKey": "",
  "authDomain": "",
  "projectId": "",
  "storageBucket": "",
  "messagingSenderId": "",
  "appId": "",
  "measurementId": ""
}'
